/*
| --------------------------------------------------------------------------
| SASS Breakpoints
| --------------------------------------------------------------------------
|
| Contains all imported breakpoints for responsive project
|
*/

/*
 * Large screens -----------------------------------------------------------
 */
	$i_21		: 2360px;
	$i_19		: 1890px;
	$i_18 	: 1760px;
	$i_17		: 1600px;

/*
 * Laptops -----------------------------------------------------------------
 */
	$i_15		: 1440px;
	$i_14		: 1360px;
	$i_13		: 1280px;

/*
 * Tablets -----------------------------------------------------------------
 */
	$i_12		: 1120px;
	$i_11		: 960px;
	$i_10		: 800px;

/*
 * Smartphones -------------------------------------------------------------
 */
 	$i_9 		: 640px;
	$i_8 		: 480px;