/*
| --------------------------------------------------------------------------
| Main SASS file
| --------------------------------------------------------------------------
|
| Sets the layout and design for the entire website. Compiled to css/all.css
| using this command in your terminal:
| `sass -r sass-globbing  --watch sass/all.scss:css/all.css --style compressed`
|
| !!! IMPORTANT: This command requires the Globbing plugin for SASS (assuming
| you've already installed SASS, haven't you?).
|
| @info https://github.com/chriseppstein/sass-globbing
|
*/
/*
| --------------------------------------------------------------------------
| Global reset
| --------------------------------------------------------------------------
|
| http://meyerweb.com/eric/tools/css/reset/ 
|
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
| --------------------------------------------------------------------------
| SASS Colors
| --------------------------------------------------------------------------
|
| Contains all colors for the project
|
*/
/*
 * Flat Colors -----------------------------------------------------------
 */
/*
 * Transparant Colors ---------------------------------------------------
 */
/*
| --------------------------------------------------------------------------
| SASS Fonts
| --------------------------------------------------------------------------
|
| Contains all imported fonts for the project
|
*/
/*
 * Font Families ---------------------------------------------------------
 */
/*
 * Font Weights ----------------------------------------------------------
 */
/*
 * Font Sizes ------------------------------------------------------------
 */
/*
| --------------------------------------------------------------------------
| SASS Breakpoints
| --------------------------------------------------------------------------
|
| Contains all imported breakpoints for responsive project
|
*/
/*
 * Large screens -----------------------------------------------------------
 */
/*
 * Laptops -----------------------------------------------------------------
 */
/*
 * Tablets -----------------------------------------------------------------
 */
/*
 * Smartphones -------------------------------------------------------------
 */
/* =========================================================================
 * Variables
 * ========================================================================= 
 */
/* =========================================================================
 * Mixins
 * =========================================================================
 */
/* =========================================================================
 * Global sections & tags
 * =========================================================================
 */
::selection {
  background: #ff6600;
  /* Safari */ }

::-moz-selection {
  background: #ff6600;
  /* Firefox */ }

/*
 * Structural ---------------------------------------------------------
 */
/*
 * Text ---------------------------------------------------------------
 */
/*
 * Forms --------------------------------------------------------------
 */
.btn {
  outline: none;
  -webkit-appearance: none;
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  padding: 10px 15px;
  background: black;
  border: 0 none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }
  .btn.brackets {
    background: none;
    color: #222222;
    font-weight: 400;
    font-size: 40px;
    -o-transition: letter-spacing 0.1s ease-out;
    -ms-transition: letter-spacing 0.1s ease-out;
    -moz-transition: letter-spacing 0.1s ease-out;
    -webkit-transition: letter-spacing 0.1s ease-out;
    transition: letter-spacing 0.1s ease-out; }
    .btn.brackets:hover {
      letter-spacing: 3px; }
  .btn:hover {
    color: #ff6600; }

.txt-input {
  outline: none;
  -webkit-appearance: none; }

/* =========================================================================
 * Classes
 * =========================================================================
 */
/*
 * Globals ------------------------------------------------------------
 */
.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

/*
 * Specifics ----------------------------------------------------------
 */
/* =========================================================================
 * Content ID's
 * =========================================================================
 */
/* =========================================================================
 * Import specific stylesheets
 * =========================================================================
 *
 * !!! IMPORTANT: The wildcard functionality used in this section requires
 * the Globbing plugin for SASS. Check the comment at the top of this file.
 *
 */
/*
 * Plugins ------------------------------------------------------------
 */
/* No files to import found in plugins/* */
/*
 * Pages --------------------------------------------------------------
 */
.container .create {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin-bottom: 25px;
  height: 100%; }
  .container .create h1 {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    height: 100px; }
  .container .create label {
    margin-bottom: 5px;
    margin-top: 7px; }
  .container .create input {
    border-radius: none;
    width: 100%;
    height: 25px; }
  .container .create textarea {
    width: 100%; }
  .container .create select {
    width: 100%; }
  .container .create button {
    float: left;
    margin-right: 25px; }
  .container .create .submit-btns input {
    width: 40%;
    margin-right: 2%;
    margin-bottom: 25px;
    float: left;
    height: 40px; }
  .container .create .submit-btns input:nth-child(2) {
    float: right; }
  .container .create h2 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px; }
  .container .create .left {
    float: left;
    width: 500px; }
  .container .create .right {
    float: right;
    width: 400px; }
    .container .create .right h1 {
      text-align: right; }

body {
  -webkit-font-smoothing: antialiased; }

.headerimage {
  width: 100%;
  height: 350px;
  background: url(../img/clouds_02.jpg);
  background-size: cover; }
  .headerimage h1 {
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    padding-top: 150px; }
    .headerimage h1 span {
      font-weight: 500; }

.progress-bar {
  height: 3px;
  background-color: #a1a1a1;
  width: 100%;
  position: relative;
  margin-top: 20px; }
  .progress-bar span {
    background-color: #ff6600;
    height: 3px;
    position: absolute;
    max-width: 100%; }

.projects .margin {
  margin-top: 2000px; }
.projects .headerProject {
  margin-top: 50px;
  width: 100%;
  border-bottom: 1px solid #222222;
  margin-bottom: 50px; }
  .projects .headerProject h1 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-bottom: 15px; }
  .projects .headerProject a {
    float: right;
    margin-top: -30px;
    font-family: "Oswald", sans-serif;
    color: #ff6600;
    -o-transition: letter-spacing 0.1s ease-out;
    -ms-transition: letter-spacing 0.1s ease-out;
    -moz-transition: letter-spacing 0.1s ease-out;
    -webkit-transition: letter-spacing 0.1s ease-out;
    transition: letter-spacing 0.1s ease-out; }
    .projects .headerProject a:hover {
      letter-spacing: 1px;
      text-decoration: none;
      color: #ff6600; }
.projects .single {
  margin-bottom: 150px;
  float: left;
  margin-right: 55px;
  margin-left: 55px; }
  .projects .single .icon {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px; }
  .projects .single .funding {
    width: 10px;
    height: 30px;
    margin-top: -3px;
    background: url(../img/schpark.png) no-repeat;
    background-size: contain; }
  .projects .single .fundings {
    border-bottom: 1px solid #222222; }
    .projects .single .fundings h3 {
      margin-left: -20px; }
  .projects .single .views {
    margin-left: 165px;
    margin-top: -38px;
    background: url(../img/eye.png) no-repeat;
    background-size: contain; }
  .projects .single .capital {
    margin-left: 5px;
    margin-top: 40px; }
  .projects .single .expireDate {
    text-align: center;
    font-size: 20px; }
  .projects .single h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    margin-bottom: 20px; }
  .projects .single h1 {
    height: 35px;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px dashed #222222;
    text-align: center;
    margin-bottom: 15px; }
    .projects .single h1 a {
      -o-transition: letter-spacing 0.1s ease-out;
      -ms-transition: letter-spacing 0.1s ease-out;
      -moz-transition: letter-spacing 0.1s ease-out;
      -webkit-transition: letter-spacing 0.1s ease-out;
      transition: letter-spacing 0.1s ease-out; }
      .projects .single h1 a:hover {
        letter-spacing: 1px;
        text-decoration: none;
        color: #ff6600; }
    .projects .single h1 a:link {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      color: white !important;
      text-transform: uppercase;
      line-height: 30px;
      font-size: 20px; }
    .projects .single h1 a:visited {
      color: #ff6600 !important; }
  .projects .single .img {
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 125px; }
    .projects .single .img:hover {
      background-color: #222222; }

.section .alert {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #ff6600;
  margin-bottom: 20px; }
.section .home {
  border: 1px solid #222222;
  height: 100%;
  background: url(../img/splashscreen/background_02.jpg);
  background-size: cover; }
.section .info {
  border: 1px solid #222222;
  height: 100%;
  background: url(../img/splashscreen/background_04.jpg);
  background-size: cover; }
  .section .info h1 {
    width: 500px;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    margin-top: 100px;
    margin-left: 85px;
    color: white;
    font-size: 50px;
    margin-bottom: 0px; }
    .section .info h1 span {
      font-weight: 400; }
  .section .info .infocontent {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px; }
    .section .info .infocontent .images img {
      padding: 0 70px 0 70px; }
    .section .info .infocontent .images .arrowRight {
      position: relative;
      top: -25px; }
    .section .info .infocontent .text {
      margin-top: 80px; }
      .section .info .infocontent .text h3 {
        float: left;
        width: 250px;
        font-family: "Oswald", sans-serif;
        color: white;
        font-weight: 100;
        line-height: 35px;
        font-size: 20px;
        text-align: center; }
      .section .info .infocontent .text .middle {
        padding-left: 137px;
        padding-right: 137px; }
.section .register {
  border: 1px solid #222222;
  height: 100%;
  background: url(../img/splashscreen/background_06.jpg);
  background-size: cover; }
  .section .register .registerForm {
    margin: 0;
    margin-left: 80px; }
    .section .register .registerForm h1 {
      margin-top: 40%;
      margin-bottom: 50px;
      font-size: 35px;
      text-align: left;
      margin-left: 8px; }
  .section .register .cardReader {
    float: right;
    margin-top: -500px;
    margin-right: 80px; }
    .section .register .cardReader h3 {
      font-family: "Oswald", sans-serif;
      color: white;
      font-size: 30px;
      font-weight: 100;
      width: 250px;
      margin-left: 230px;
      margin-bottom: 80px; }
      .section .register .cardReader h3 span {
        font-weight: 500; }
    .section .register .cardReader .reader {
      background: url(../img/splashscreen/cardReader.png) no-repeat;
      background-size: contain;
      width: 500px;
      height: 300px; }
  .section .register .txt-input {
    margin-top: 0;
    font-size: 17px;
    width: 250px; }
  .section .register .btn {
    width: 250px; }

.navigation {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  clear: both;
  z-index: 1000; }
  .navigation .logo {
    margin-left: 30px;
    margin-top: 8px;
    width: 40px;
    height: 70px;
    float: left;
    background: url(../img/splashscreen/logo.png) no-repeat;
    background-size: contain; }
    .navigation .logo h1 {
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      margin-left: 50px;
      font-size: 40px;
      letter-spacing: -3px;
      margin-top: 15px; }
  .navigation ul {
    float: right; }
    .navigation ul li {
      float: left;
      padding-left: 30px;
      padding-right: 30px;
      vertical-align: middle;
      margin-top: 30px; }
      .navigation ul li .triangle {
        opacity: 0.7;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid black;
        display: none; }
      .navigation ul li a {
        position: relative;
        text-decoration: none;
        font-family: "Oswald", sans-serif;
        font-size: 20px;
        color: #222222; }
        .navigation ul li a:hover {
          color: #ff6600; }
    .navigation ul .active a {
      color: #ff6600; }
    .navigation ul .active .triangle {
      display: block;
      margin-left: 30px; }
    .navigation ul .homelink .triangle {
      margin-left: 15px; }
    .navigation ul .infolink .triangle {
      margin-left: 10px; }
    .navigation ul .registerlink .triangle {
      margin-left: 30px; }

.content .center {
  margin-left: auto;
  margin-right: auto; }
.content .login, .content .registerForm {
  text-align: center;
  width: 300px;
  margin-top: 00px;
  margin-left: auto;
  margin-right: auto; }
  .content .login span, .content .registerForm span {
    font-weight: 300; }
  .content .login h1, .content .registerForm h1 {
    width: 500px;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    margin-top: 200px;
    margin-left: -90px;
    color: white;
    font-size: 50px;
    margin-bottom: 150px; }
    .content .login h1 span, .content .registerForm h1 span {
      font-weight: 400; }
  .content .login .margin-buffer-bottom, .content .registerForm .margin-buffer-bottom {
    margin-bottom: 0px; }
  .content .login .margin-buffer, .content .registerForm .margin-buffer {
    margin-top: 20px;
    font-size: 40px; }
  .content .login h2, .content .registerForm h2 {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 500px;
    margin-left: -90px;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: white; }
  .content .login textarea, .content .registerForm textarea {
    width: 325px;
    height: 150px;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 16px;
    border-radius: 0px; }
  .content .login p, .content .registerForm p {
    width: 325px;
    height: 50px;
    margin-bottom: 5px; }
    .content .login p #upload-image-btn, .content .registerForm p #upload-image-btn {
      margin-top: 10px;
      border-radius: 0px;
      width: 325px;
      background-color: #ff6600 !important; }
  .content .login .buttons, .content .registerForm .buttons {
    width: 325px;
    margin-top: 20px; }
  .content .login a.btn, .content .registerForm a.btn {
    width: 100px;
    float: left;
    border-radius: 0px; }
  .content .login button.btn, .content .registerForm button.btn {
    width: 125px;
    border-radius: 0px;
    float: right; }
.content .txt-input {
  border: none;
  border-bottom: 1px solid #222222;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 1%;
  text-align: center;
  width: 290px;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
  border-color: white;
  color: white;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  -o-transition: border-color 0.2s ease-out, letter-spacing 0.1s ease-out;
  -ms-transition: border-color 0.2s ease-out, letter-spacing 0.1s ease-out;
  -moz-transition: border-color 0.2s ease-out, letter-spacing 0.1s ease-out;
  -webkit-transition: border-color 0.2s ease-out, letter-spacing 0.1s ease-out;
  transition: border-color 0.2s ease-out, letter-spacing 0.1s ease-out; }
  .content .txt-input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white; }
  .content .txt-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white; }
  .content .txt-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white; }
  .content .txt-input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: white; }
  .content .txt-input:focus {
    outline: none;
    border-color: #ff6600 !important;
    letter-spacing: 5px; }
.content .btn {
  margin-left: auto;
  margin-right: auto;
  width: 300px; }

.arrowBtnDown {
  background: url("../img/splashscreen/arrow.png") no-repeat center center;
  background-size: cover;
  bottom: 5%;
  cursor: pointer;
  height: 50px;
  left: 49%;
  position: absolute;
  width: 50px;
  -o-transition: bottom 0.2s ease-out;
  -ms-transition: bottom 0.2s ease-out;
  -moz-transition: bottom 0.2s ease-out;
  -webkit-transition: bottom 0.2s ease-out;
  transition: bottom 0.2s ease-out; }
  .arrowBtnDown:hover {
    bottom: 4%; }

.up {
  background: url("../img/splashscreen/arrowUp.png") no-repeat center center;
  background-size: cover;
  -o-transition: bottom 0.2s ease-out;
  -ms-transition: bottom 0.2s ease-out;
  -moz-transition: bottom 0.2s ease-out;
  -webkit-transition: bottom 0.2s ease-out;
  transition: bottom 0.2s ease-out; }
  .up:hover {
    bottom: 6%; }

.navigation2 {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: white;
  clear: both;
  z-index: 1000; }
  .navigation2 .logo {
    margin-left: 30px;
    margin-top: 8px;
    width: 40px;
    height: 70px;
    float: left;
    background: url(../img/splashscreen/logo.png) no-repeat;
    background-size: contain; }
    .navigation2 .logo h1 {
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      margin-left: 50px;
      font-size: 40px;
      letter-spacing: -3px;
      margin-top: 15px; }
  .navigation2 ul {
    float: right; }
    .navigation2 ul li {
      float: left;
      padding-left: 30px;
      padding-right: 30px;
      vertical-align: middle;
      margin-top: 30px; }
      .navigation2 ul li .triangle {
        opacity: 0.7;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid black;
        display: none; }
      .navigation2 ul li a {
        position: relative;
        text-decoration: none;
        font-family: "Oswald", sans-serif;
        font-size: 20px;
        color: #222222; }
        .navigation2 ul li a:hover {
          color: #ff6600; }

/*
 * Models ------------------------------------------------------------
 */
/* No files to import found in models/* */
